<div>
    <h2>About {{restaurant.name}}</h2>
    <img class="item-img" src="{{restaurant.image}}" />
    <h4>Number of menus: {{restaurant.Menus.length}}</h4>
    {{#each restaurant.Menus}}
        <article class="clearfix item-container block">
			<h2>{{title}}</h2>
            <a class="btn" href="/menus/{{id}}">View Menu</a>
		</article>
    {{/each}}
    <a class="btn" href="/restaurants">Back to Restaurants List</a>
</div>